@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;400;700');

:root{
  --primary-font: 'Exo 2', sans-serif;
  --title-weight: 700;
  --subtitle-weight: 400;
  --paragraph-weight: 200;
}